<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #f2f5f0;">
<ul class="nav navbar-nav navbar-right">
    <li><a href="/login" align="center">logout</a></li>

</ul>
<button class="btn btn-outline-primary" ><a href="/api/admin">Admin table</a></button>



<div class="text-center">
    <h1>User page</h1>
</div>
<div class="container">
    <table id="user_page" class="table table-hover table-striped">

    </table>


    <script>
        function getUser() {
            let response = fetch('http://localhost:8000/api/users/user')
                .then((res) => {
                    return  res.json()
                }).then((data) => {
                    console.log(data)
                    let li = '';
                    li += `  <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">gender</th>
            <th scope="col">email</th>
            <th scope="col">password</th>
            <th scope="col">age</th>

        </tr>

<tr>
                            <td>${data.id}</td>
                            <td>${data.name}</td>
                            <td>${data.surname}</td>
                            <td>${data.gender}</td>
                            <td>${data.email}</td>
                            <td>${data.password}</td>
                            <td>${data.age}</td>

</tr>`;

                    document.getElementById('user_page').innerHTML = li;
                })
        }
        getUser()
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</div>
</body>
</html>